$Blue: #0b137c;
$Black: #000000;
$Yellow: #FFB100;
$White: #ffffff;
$Wheat: #f5deb3;
$LightBlue: #dfe0eb;


.bg-white{
    background-color: $White;
}
.bg-lightblue{
    background-color: $LightBlue;
}
.bg-wheat{
    background-color: $Wheat;
}
.blue-color{
    color: $Blue;
}
.white-color{
    color: $White;
}
.yellow-color{
    color: $Yellow;
}
.wheat-color{
    color: $Wheat;
}